*{
    margin: 0px;
    padding: 0px;
}
/* parte para mexer no header */
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    }

/* posição da imagem */
img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* parte para mexer na main */

p{
   position: relative;
   top: 14em;
   text-align: center;
}

.btn{
    position: relative;
    top: 10em;
    right: 0em;
    
    
}